body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  text-align: center;
  font-weight: 400;
  font-size: 90px;
  margin-top: 30px;
  margin-bottom: 0;
}

h2 {
  text-align: left;
  font-weight: 500;
  font-size: 50px;
  padding-top: 10px;
}

p {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
}
header {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
}
.container {
  max-width: 600px;
  height: 400px;
  margin-top: 30px;
  padding: 20px;
  background-color: #6cffe9;
  border-radius: 10px;
}

.button {
  color: white;
  background-color: #212529;
  border-radius: 10px;
  font-size: 14px;
}

.current {
  color: 212529;
  background-color: #white;
  border-radius: 10px;
  font-size: 14px;
}

.main-icon {
  display: block;
  font-size: 50px;
  text-align: center;
  padding-bottom: 10px;
}

.row {
  margin: 0 auto;
}

.col {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}
